.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 25px;

  @media (max-width: $desktop) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: $tablet) {
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.button {
  display: inline-flex;
  min-height: 75px;
  padding: 10px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: $accent;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $accent-secondary;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $desktop) {
    min-height: 50px;
  }

  @media (max-width: $tablet) {
    width: 288px;
  }
}

.button__icon {
  stroke: white;
  fill: transparent;

  transform: rotate(90deg);

  .button:hover &,
  .button:focus & {
    animation: float 1.2s ease-out infinite;
  }
}

@keyframes float {
  0% {
    transform: rotate(90deg) translateX(0px);
  }
  50% {
    transform: rotate(90deg) translateX(-3px);
  }
  100% {
    transform: rotate(90deg) translateX(0px);
  }
}

.title {
  margin: 0 0 0 0;

  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;

  @media (max-width: $desktop) {
    font-size: 30px;
    line-height: 150%;
    letter-spacing: normal;
  }

  @media (max-width: $tablet) {
    font-size: 24px;
  }

  &--underline {
    &::after {
      content: "";
      display: block;

      background-color: $accent;
    }

    @media (max-width: $desktop) {
      text-align: center;

      &::after {
        visibility: hidden;
      }
    }
  }
}
