$font-family: "Montserrat", Verdana, sans-serif;

$mobile: 320px;
$tablet: 767.98px;
$desktop: 1023.98px;
$md1: 1170px;

$accent: #fe7865;
$accent-secondary: #f17d4b;
$dark: #2c2e3f;
$extra-dark: #141517;
